@(title: String)

@feed.main(title) {
    <div class="site-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header tool-bar item="toolbarText" title="title"></header>
        <div nav-bar item="navbarText"></div>
        <main class="mdl-layout__content mdl-color--brown-100">
            <div class="mdl-grid site-content" ui-view="main">
            </div>
            <footer foot-bar item="footbarText"></footer>
        </main>
    </div>
    <div ui-view="modals">
}

